.header {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    padding: rem(0) rem(20) rem(0) rem(20);
    height: rem(50);
    position: fixed;
    display: flex;
    z-index: 999;
    width: 100%;
    justify-content: space-between;

    &__logo img {
        max-width: 35px;
    }

    &__navbar a:hover {
        color: #ae0c0c;
    }

    &__navbar a.active {
        color: #ae0c0c;
    }

    &__links {
        display: flex;
        align-items: center;
        height: rem(50);
        @include adaptiveValue('gap', 60, 10);
        font-size: rem(24);
    }

    &__toggle_btn {
        font-size: rem(24);
        cursor: pointer;
        display: none;
    }

    &__toggle_btn i {
        min-width: rem(24);
    }
}

.filter {
    font-size: rem(24);
    cursor: pointer;
    position: relative;

    &__wrapper {
        display: flex;
        align-items: center;
        gap: rem(7);
        transition: color .3s linear;
    }

    &__wrapper:hover {
        color: #ae0c0c;
    }

    &__calendar,
    &__arrow {
        font-size: rem(20);
    }

    &__list {
        position: absolute;
        top: rem(36);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: rem(10);
        width: rem(200);
        height: rem(0);
        background: rgba(246, 169, 12, 0.9);
        backdrop-filter: blur(5px);
        border-radius: rem(10);
        overflow: hidden;
        transition: height .3s ease;
    }

    &__list.open {
        height: rem(130);
    }

    &__item:first-child {
        margin-top: rem(15);
    }

    &__item:last-child {
        margin-bottom: rem(15);
    }

    &__item {
        transition: color .3s linear;
        font-size: rem(22);
    }

    &__item:hover {
        color: #ae0c0c;
    }
}

// DROPDOWN MENU
.header {
    &__dropdown-menu {
        position: absolute;
        right: rem(20);
        top: rem(50);
        width: rem(250);
        max-height: rem(0);
        background: rgba(246, 169, 12, 0.9);
        backdrop-filter: blur(5px);
        border-radius: rem(10);
        overflow: hidden;
        transition: max-height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &__dropdown-menu.open {
        max-height: rem(500);
    }


    &__dropdown-menu li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__dropdown-menu li a {
        text-align: center;
        width: 100%;
        padding-top: rem(14);
        padding-bottom: rem(14);
    }

    &__dropdown-menu li i {
        font-size: rem(16);
    }
}

.headerBgColor {
    background: rgba(246, 169, 12);
}

// RESPONSIVE DESING
@media(max-width: $tablet) {
    .header {
        font-size: rem(20);

        &__links {
            font-size: rem(20);
        }
    }

    .filter__arrow {
        font-size: rem(16);
    }

    .filter {
        font-size: rem(22);
    }

}

@media(max-width: $mobile) {
    .header {

        &__links {
            display: none;
        }

        &__toggle_btn {
            display: block;
            display: flex;
            align-items: center;
        }
    }

    .filter {
        display: flex;
        flex-direction: column;

        &__wrapper:hover {
            color: inherit;
        }

        &__dropdown {
            position: static;
            width: 100%;
        }

        &__arrow {
            font-size: rem(14);
        }

        &__dropdown-link {
            font-size: rem(16);
        }
    }
}

@media(max-width: $mobileSmall) {
    .header {
        &__dropdown-menu {
            width: 90%;
        }
    }
}