.main {
    width: 100%;
}

.home {
    position: relative;
    height: 100vh;
    background-image: url('https://w.wallha.com/ws/13/BH29KNVj.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
        height: calc(100vh - rem(100));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include adaptiveValue('gap', 50, 10);
    }

    &__container img {
        max-width: 100%;
        height: auto;
    }

    &__title {
        font-size: rem(22);
        font-style: italic;
    }
}

.rating {
    background: rgb(230, 136, 28);
    background: linear-gradient(0deg, rgba(230, 136, 28, 1) 0%, rgba(148, 11, 12, 1) 100%);
    padding-bottom: rem(50);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include adaptiveValue('gap', 20, 10);
    }

    &__dropdown {
        display: flex;
        align-items: flex-end;
        gap: rem(20);
        line-height: math.div(24, 18);
        cursor: pointer;
        transition: all 0.3s linear;
    }

    &__dropdown:hover {
        color: rgb(6, 69, 173);
        color: darken($color: rgb(6, 69, 173), $amount: 15);
    }

    &__dropdown i::before {
        font-size: rem(24);
    }

    &__dropdown-menu {
        display: none;
    }

    &__subtitle {
        text-align: center;
    }

    &__tbody tr td strong {
        transition: all 0.3s linear;
    }

    &__tbody tr td strong:hover {
        cursor: pointer;
        color: rgb(6, 69, 173);
    }
}

.winners {

    &__title {
        text-align: center;
        @include adaptiveValue('font-size', 38, 20);
        @include adaptiveValue('margin-bottom', 20, 10);
    }

    &__list {
        display: flex;
        @include adaptiveValue('gap', 40, 10);
    }

    &__item {
        display: flex;
        align-items: center;
        gap: rem(7);
        @include adaptiveValue('font-size', 32, 16);
    }

    &__item img {
        @include adaptiveValue('height', 50, 20);
    }
}

.parties {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(148, 11, 12, 1), rgba(230, 136, 28, 1));
    background-image: url('https://wallpaperaccess.com/full/6998602.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        position: relative;
        z-index: 1;
        font-size: rem(42);
        background-color: #e59c0a;
        padding: rem(10) rem(35) rem(15) rem(35);
        border-radius: rem(15);
    }

    &__slider {
        max-width: rem(1230);
        width: 100%;
        //background-color: gray;
        padding: rem(40) 0;
    }

    &__slider-container {
        margin: rem(0) rem(55) rem(0) rem(55);
        overflow: hidden;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: rem(10) rem(5) rem(20) rem(5);
        background-color: #e59c0a;
        border-radius: rem(15);
    }

    &__table {
        table-layout: fixed;
        max-width: rem(370);
        width: 100%;
        border-radius: rem(16);
    }

    &__table-title {
        padding: rem(0) rem(20) rem(5) rem(20);
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__table th {
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        padding-right: rem(10);
        font-size: rem(18);
        padding: rem(8) rem(12) rem(8) rem(12);
        border: 2px solid #a0190a;
        border-radius: rem(16);
        user-select: none;
        transition: all linear 0.16s;
    }

    &__table td {
        padding: rem(8) rem(12) rem(8) rem(12);
        font-size: rem(16);
        text-align: center;
        border: 1px solid #a0190a;
        border-radius: rem(16);
    }

    &__player {
        transition: color 0.3s linear;
    }

    // &__player:hover {
    //     cursor: pointer;
    //     color: rgb(6, 69, 173);
    // }

    &__button {
        color: $mainColor;
        height: 40px;
        width: 40px;
        background: #e59c0a;
        border-radius: 50%;
        transition: background .2s linear;
    }

    &__button:hover {
        background: darken($color: #e59c0a, $amount: 5);
        //background: #a0190a;
    }

    &__button::before,
    &__button::after {
        font-size: rem(22);
    }

    &__scrollbar {
        cursor: pointer;
        padding-bottom: rem(10);
        height: rem(10);
        background: #e59c0a;
    }

    .swiper-scrollbar-drag {
        height: rem(10);
        background: #a0190a;
    }
}

.factions {
    background: rgb(230, 136, 28);
    background: linear-gradient(0deg, rgba(230, 136, 28, 1) 0%, rgba(148, 11, 12, 1) 100%);
    padding-bottom: rem(50);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include adaptiveValue('gap', 20, 10);
    }

    &__faction {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__faction img {
        width: rem(30);
        height: rem(30);
        border-radius: 50%;
        @include adaptiveValue('margin-right', 20, 0);
        @include adaptiveValue('margin-left', 35, 0);
    }

    &__faction strong {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.rules {
    background-image: url('https://www.jestatharogue.com/wp-content/uploads/2023/01/Dune-Game-Board.jpg?x36035');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        position: relative;
        z-index: 1;
        font-size: rem(42);
        background-color: #e59c0a;
        padding: rem(10) rem(35) rem(15) rem(35);
        border-radius: rem(15);
    }

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include adaptiveValue('gap', 50, 20)
    }

    &__block {
        height: 100%;
        width: 100%;
        background-color: #e59c0a;
        padding: rem(20) rem(25) rem(20) rem(45);
        border-radius: rem(15);
    }

    &__block-title {
        font-size: rem(24);
        margin-bottom: rem(15);
    }

    &__block-list li {
        width: 100%;
        list-style: disc;
        margin-bottom: rem(10);
        font-size: rem(20);
        line-height: em(25);
    }

    &__block-list li a {
        cursor: pointer;
        display: inline-block;
        width: 100%;
        font-style: italic;
        text-decoration: underline;
    }

    &__block-list li a:hover {
        color: rgb(6, 69, 173);
    }
}

.modal {
    overflow: scroll;
    position: fixed;
    width: rem(900);
    max-height: 90%;
    max-width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 1001;
    border-radius: rem(10);
    background-color: rgba(230, 136, 28, 1);
    padding: rem(10) rem(0) rem(20) rem(0);

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        padding-bottom: rem(15);
        margin: rem(0) auto rem(15) auto;
        padding: rem(0) 2% rem(10) 5%;
        border-bottom: 2px solid #9d0a0d;
    }

    &__title {
        font-size: rem(34);
    }

    &__ban {
        text-align: center;
        font-size: rem(28);
        padding: rem(0) rem(5) rem(0) rem(5);
    }

    &__button {
        font-size: rem(72);
        background-color: transparent;
        line-height: rem(24);
        padding: rem(5) rem(0) rem(5) rem(5);
    }

    &__button:hover {
        background-color: transparent;
    }

    &__faction {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__faction img {
        width: rem(30);
        height: rem(30);
        border-radius: 50%;
        margin: rem(0) rem(5) rem(0) rem(5);
    }
}

.modal-open {
    overflow: hidden;
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(148, 11, 12, 0);
    pointer-events: none;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay.active {
    background-color: rgba(148, 11, 12, .7);
    pointer-events: all;
}



// RESPONSIVE DESING
@media(max-width: $tablet) {

    .rating__subtitle {
        font-size: rem(20);
    }

    .rules__content {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: $mobile) {

    .rating__subtitle {
        font-size: rem(12);
    }

    .factions__faction img {
        width: rem(25);
        height: rem(25);
    }

    .modal {
        &__title {
            font-size: rem(28);
        }

        &__ban {
            font-size: rem(20);
        }
    }

    .parties__button {
        display: none;
    }

    .parties__slider-container {
        margin: 0;
    }

    .title {
        font-size: rem(24);
    }

    .rules__block-list li {
        font-size: rem(16);
    }
}

@media(max-width: $mobileSmall) {
    .home {
        &__title {
            font-size: rem(12);
            max-width: rem(300);
        }
    }

    .rating__tbody tr {
        height: rem(41);
    }

    .factions__faction strong {
        width: 0;
    }

    .modal__faction strong {
        display: none;
    }

    .modal__faction img {
        width: rem(20);
        height: rem(20);
    }

    .modal__thead tr th {
        font-size: rem(10);
    }

    .modal {
        padding: rem(5) rem(0) rem(5) rem(0);

        &__header {
            padding-bottom: rem(5);
            margin: rem(0) auto rem(5) auto;
            padding: rem(0) 2% rem(5) 5%;
        }

        &__title {
            font-size: rem(20);
        }

        &__ban {
            font-size: rem(14);
        }

        &__button {
            font-size: rem(48);
            background-color: transparent;
            line-height: rem(24);
            padding: rem(5) rem(0) rem(5) rem(5);
        }
    }
}