@use "sass:math";

// Підключення міксинів
@import "base/mixins";


// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700&display=swap);
//&display=swap - додати при подключенні через плагін

// Підключити якщо є локальні файли шрифтів
//@import "fonts/fonts";

// Підключення іконочних шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити якщо є файл іконочного шрифта
//@import "fonts/icons";

// Шрифт по замовчуванню ==============================================================================================================================================================================================================================================================================
$fontFamily: "Oswald";
$fontSize: rem(18); // де 14(px) - розмір шрифта по замовчуванню з макету

// Основні кольори
$mainColor: #000000; // Колір шрифта по замовчуванню

// налаштування ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмежень)
$maxWidthContainer: 1600;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч и праворуч, 0 = немає відступа)
$containerPadding: 30;

// Ширина спрацювання першого брейкпоінта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поінти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети в горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптиву:
// 1 = чутливість (у контейнера немає брейкпоінтів),
// 2 = по брейк-поінтам (контейнер міняє свою ширину по брейк-поінтам)
$responsiveType: 1;

// Обнулення та загальні параметри 
@import "base/null";

body {

    // Скрол заблокований
    .lock & {
        overflow: hidden;
        touch-action: none;
    }

    // Сайт завантажений
    .loaded & {}
}

// Оболонка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    // Прижимаєм footer
    >main {
        flex: 1 1 auto;
    }

    // Фікс для слайдерів
    >* {
        min-width: 0;
    }
}

// Обмежуючий контейнер ======================================================================================================================================================================================================================

/*
(i) Стчі будуть застосовуватись до 
всіх класів що містять *__container
наприклад header__container, main__container и т.д.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {

    // Чутлива
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }

        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }

        scroll-snap-align: center;
    }
}

@else {

    // По брейк-поінтам
    [class*="__container"] {
        margin: 0 auto;

        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        }

        @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }

        @media (max-width: $pc) {
            max-width: rem(970);
        }

        @media (max-width: $tablet) {
            max-width: rem(750);
        }

        @media (max-width: $mobile) {
            max-width: none;

            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

// Підключення блоків
@import "commons";
@import "header";
@import "main";
@import "footer";