@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700&display=swap);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000000;
  line-height: 1;
  font-family: "Oswald";
  font-size: 1.125rem;
  background-color: rgb(246, 169, 12);
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Oswald";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  transition: color 0.5s ease;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стчі будуть застосовуватись до 
всіх класів що містять *__container
наприклад header__container, main__container и т.д.
Сніппет (HTML): cnt
*/
[class*=__container] {
  max-width: 100rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
  scroll-snap-align: center;
}
@supports (gap: clamp( 1.25rem , 0.9446564885rem  +  1.5267175573vw , 2.5rem )) {
  [class*=__container] {
    gap: clamp( 1.25rem , 0.9446564885rem  +  1.5267175573vw , 2.5rem );
  }
}
@supports not (gap: clamp( 1.25rem , 0.9446564885rem  +  1.5267175573vw , 2.5rem )) {
  [class*=__container] {
    gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 81.875);
  }
}
@supports (padding-top: clamp( 1.25rem , 0.6393129771rem  +  3.0534351145vw , 3.75rem )) {
  [class*=__container] {
    padding-top: clamp( 1.25rem , 0.6393129771rem  +  3.0534351145vw , 3.75rem );
  }
}
@supports not (padding-top: clamp( 1.25rem , 0.6393129771rem  +  3.0534351145vw , 3.75rem )) {
  [class*=__container] {
    padding-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 81.875);
  }
}
@supports (padding-bottom: clamp( 0.625rem , -0.4437022901rem  +  5.3435114504vw , 5rem )) {
  [class*=__container] {
    padding-bottom: clamp( 0.625rem , -0.4437022901rem  +  5.3435114504vw , 5rem );
  }
}
@supports not (padding-bottom: clamp( 0.625rem , -0.4437022901rem  +  5.3435114504vw , 5rem )) {
  [class*=__container] {
    padding-bottom: calc(0.625rem + 4.375 * (100vw - 20rem) / 81.875);
  }
}

.button {
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  border-radius: 0.3125rem;
  background-color: rgb(29, 86, 177);
  transition: background-color linear 0.2s;
}
.button:hover {
  background-color: rgba(29, 86, 177, 0.699);
}

.input {
  width: 100%;
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  border-radius: 0.3125rem;
  background-color: rgb(212, 211, 211);
}

.title {
  line-height: 1;
}
@supports (font-size: clamp( 1.5rem , 1.2251908397rem  +  1.3740458015vw , 2.625rem )) {
  .title {
    font-size: clamp( 1.5rem , 1.2251908397rem  +  1.3740458015vw , 2.625rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.2251908397rem  +  1.3740458015vw , 2.625rem )) {
  .title {
    font-size: calc(1.5rem + 1.125 * (100vw - 20rem) / 81.875);
  }
}

.result {
  display: block;
  font-size: 2.125rem;
  margin-top: 1.25rem;
  color: blue;
}

.table {
  margin: 0 auto;
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  background: rgb(244, 194, 80);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 0.375rem;
}

.table th {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding-right: 0.625rem;
  font-size: 1.125rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-bottom: 1px solid #9d0a0d;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all linear 0.16s;
}

.table th[data-sort] {
  padding: 0.5rem 1.375rem 0.5rem 0.75rem;
}

.table th.asc,
.table th.desc {
  color: #9d0a0d;
}

.table th[data-sort]::before,
.table th[data-sort]::after {
  content: "";
  position: absolute;
  right: 10%;
  height: 0rem;
  width: 0rem;
  opacity: 0.3;
  border: 0.25rem solid transparent;
}

.table th[data-sort]::before {
  top: 0.5rem;
  border-bottom-color: #9d0a0d;
}

.table th[data-sort]::after {
  top: 1.25rem;
  border-top-color: #9d0a0d;
}

.table th.asc::before,
.table th.desc::after {
  opacity: 1;
}

.table td {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size: 1rem;
  text-align: center;
  border-bottom: 1px solid #e59c0a;
}

.tbody tr:nth-child(odd) {
  background-color: rgb(242.4919354839, 185.6370967742, 56.0080645161);
}

@media (max-width: 61.99875em) {
  .title {
    font-size: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .title {
    font-size: 1.75rem;
  }
  .table th {
    font-size: 0.875rem;
  }
  .table th[data-sort] {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }
  .table th[data-sort]::before {
    top: 0.75rem;
  }
  .table th[data-sort]::after {
    top: 1.125rem;
  }
  .table td {
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem 0.5rem 0.3125rem;
  }
  .table th[data-sort]::before {
    top: 0.3125rem;
  }
  .table th[data-sort]::after {
    top: 1rem;
  }
}
.header {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  padding: 0rem 1.25rem 0rem 1.25rem;
  height: 3.125rem;
  position: fixed;
  display: flex;
  z-index: 999;
  width: 100%;
  justify-content: space-between;
}
.header__logo img {
  max-width: 35px;
}
.header__navbar a:hover {
  color: #ae0c0c;
}
.header__navbar a.active {
  color: #ae0c0c;
}
.header__links {
  display: flex;
  align-items: center;
  height: 3.125rem;
  font-size: 1.5rem;
}
@supports (gap: clamp( 0.625rem , -0.1383587786rem  +  3.8167938931vw , 3.75rem )) {
  .header__links {
    gap: clamp( 0.625rem , -0.1383587786rem  +  3.8167938931vw , 3.75rem );
  }
}
@supports not (gap: clamp( 0.625rem , -0.1383587786rem  +  3.8167938931vw , 3.75rem )) {
  .header__links {
    gap: calc(0.625rem + 3.125 * (100vw - 20rem) / 81.875);
  }
}
.header__toggle_btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.header__toggle_btn i {
  min-width: 1.5rem;
}

.filter {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}
.filter__wrapper {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
  transition: color 0.3s linear;
}
.filter__wrapper:hover {
  color: #ae0c0c;
}
.filter__calendar, .filter__arrow {
  font-size: 1.25rem;
}
.filter__list {
  position: absolute;
  top: 2.25rem;
  left: -24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  width: 12.5rem;
  height: 0rem;
  background: rgba(246, 169, 12, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.625rem;
  overflow: hidden;
  transition: height 0.3s ease;
}
.filter__list.open {
  height: 12.1875rem;
}
.filter__item:first-child {
  margin-top: 0.9375rem;
}
.filter__item:last-child {
  margin-bottom: 0.9375rem;
}
.filter__item {
  transition: color 0.3s linear;
  font-size: 1.375rem;
}
.filter__item:hover {
  color: #ae0c0c;
}

.header__dropdown-menu {
  position: absolute;
  right: 1.25rem;
  top: 3.125rem;
  width: 15.625rem;
  max-height: 0rem;
  background: rgba(246, 169, 12, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.625rem;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header__dropdown-menu.open {
  max-height: 31.25rem;
}
.header__dropdown-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__dropdown-menu li a {
  text-align: center;
  width: 100%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}
.header__dropdown-menu li i {
  font-size: 1rem;
}

.headerBgColor {
  background: rgb(246, 169, 12);
}

@media (max-width: 61.99875em) {
  .header {
    font-size: 1.25rem;
  }
  .header__links {
    font-size: 1.25rem;
  }
  .filter__arrow {
    font-size: 1rem;
  }
  .filter {
    font-size: 1.375rem;
  }
}
@media (max-width: 47.99875em) {
  .header__links {
    display: none;
  }
  .header__toggle_btn {
    display: block;
    display: flex;
    align-items: center;
  }
  .filter {
    display: flex;
    flex-direction: column;
  }
  .filter__wrapper:hover {
    color: inherit;
  }
  .filter__dropdown {
    position: static;
    width: 100%;
  }
  .filter__arrow {
    font-size: 0.875rem;
  }
  .filter__dropdown-link {
    font-size: 1rem;
  }
}
@media (max-width: 29.99875em) {
  .header__dropdown-menu {
    width: 90%;
  }
}
.main {
  width: 100%;
}

.home {
  position: relative;
  height: 100vh;
  background-image: url("https://i0.wp.com/gusandco.net/wp-content/uploads/2024/02/Dune-jeux-de-plateau.jpeg?resize=1140%2C639&ssl=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home__container {
  height: calc(100vh - 6.25rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@supports (gap: clamp( 0.625rem , 0.0143129771rem  +  3.0534351145vw , 3.125rem )) {
  .home__container {
    gap: clamp( 0.625rem , 0.0143129771rem  +  3.0534351145vw , 3.125rem );
  }
}
@supports not (gap: clamp( 0.625rem , 0.0143129771rem  +  3.0534351145vw , 3.125rem )) {
  .home__container {
    gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 81.875);
  }
}
.home__container img {
  max-width: 100%;
  height: auto;
}
.home__title {
  font-size: 1.375rem;
  font-style: italic;
}

.rating {
  background: rgb(230, 136, 28);
  background: linear-gradient(0deg, rgb(230, 136, 28) 0%, rgb(148, 11, 12) 100%);
  padding-bottom: 3.125rem;
}
.rating__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.rating__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@supports (gap: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem )) {
  .rating__header {
    gap: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem );
  }
}
@supports not (gap: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem )) {
  .rating__header {
    gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 81.875);
  }
}
.rating__dropdown {
  display: flex;
  align-items: flex-end;
  gap: 1.25rem;
  line-height: 1.3333333333;
  cursor: pointer;
  transition: all 0.3s linear;
}
.rating__dropdown:hover {
  color: rgb(6, 69, 173);
  color: rgb(3.4357541899, 39.5111731844, 99.0642458101);
}
.rating__dropdown i::before {
  font-size: 1.5rem;
}
.rating__dropdown-menu {
  display: none;
}
.rating__subtitle {
  text-align: center;
}
.rating__tbody tr td strong {
  transition: all 0.3s linear;
}
.rating__tbody tr td strong:hover {
  cursor: pointer;
  color: rgb(6, 69, 173);
}

.winners__title {
  text-align: center;
}
@supports (font-size: clamp( 1.25rem , 0.9751908397rem  +  1.3740458015vw , 2.375rem )) {
  .winners__title {
    font-size: clamp( 1.25rem , 0.9751908397rem  +  1.3740458015vw , 2.375rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 0.9751908397rem  +  1.3740458015vw , 2.375rem )) {
  .winners__title {
    font-size: calc(1.25rem + 1.125 * (100vw - 20rem) / 81.875);
  }
}
@supports (margin-bottom: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem )) {
  .winners__title {
    margin-bottom: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem );
  }
}
@supports not (margin-bottom: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem )) {
  .winners__title {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 81.875);
  }
}
.winners__list {
  display: flex;
}
@supports (gap: clamp( 0.625rem , 0.1669847328rem  +  2.2900763359vw , 2.5rem )) {
  .winners__list {
    gap: clamp( 0.625rem , 0.1669847328rem  +  2.2900763359vw , 2.5rem );
  }
}
@supports not (gap: clamp( 0.625rem , 0.1669847328rem  +  2.2900763359vw , 2.5rem )) {
  .winners__list {
    gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 81.875);
  }
}
.winners__item {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
}
@supports (font-size: clamp( 1rem , 0.7557251908rem  +  1.2213740458vw , 2rem )) {
  .winners__item {
    font-size: clamp( 1rem , 0.7557251908rem  +  1.2213740458vw , 2rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.7557251908rem  +  1.2213740458vw , 2rem )) {
  .winners__item {
    font-size: calc(1rem + 1 * (100vw - 20rem) / 81.875);
  }
}
@supports (height: clamp( 1.25rem , 0.7919847328rem  +  2.2900763359vw , 3.125rem )) {
  .winners__item img {
    height: clamp( 1.25rem , 0.7919847328rem  +  2.2900763359vw , 3.125rem );
  }
}
@supports not (height: clamp( 1.25rem , 0.7919847328rem  +  2.2900763359vw , 3.125rem )) {
  .winners__item img {
    height: calc(1.25rem + 1.875 * (100vw - 20rem) / 81.875);
  }
}

.parties {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(148, 11, 12), rgb(230, 136, 28));
  background-image: url("https://wallpaperaccess.com/full/6998602.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.parties__container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.parties__title {
  position: relative;
  z-index: 1;
  font-size: 2.625rem;
  background-color: #e59c0a;
  padding: 0.625rem 2.1875rem 0.9375rem 2.1875rem;
  border-radius: 0.9375rem;
}
.parties__slider {
  max-width: 76.875rem;
  width: 100%;
  padding: 2.5rem 0;
}
.parties__slider-container {
  margin: 0rem 3.4375rem 0rem 3.4375rem;
  overflow: hidden;
}
.parties__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 0.3125rem 1.25rem 0.3125rem;
  background-color: #e59c0a;
  border-radius: 0.9375rem;
}
.parties__table {
  table-layout: fixed;
  max-width: 23.125rem;
  width: 100%;
  border-radius: 1rem;
}
.parties__table-title {
  padding: 0rem 1.25rem 0.3125rem 1.25rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.parties__table th {
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-right: 0.625rem;
  font-size: 1.125rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border: 2px solid #a0190a;
  border-radius: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all linear 0.16s;
}
.parties__table td {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #a0190a;
  border-radius: 1rem;
}
.parties__player {
  transition: color 0.3s linear;
}
.parties__button {
  color: #000000;
  height: 40px;
  width: 40px;
  background: #e59c0a;
  border-radius: 50%;
  transition: background 0.2s linear;
}
.parties__button:hover {
  background: rgb(204.5669456067, 139.3556485356, 8.9330543933);
}
.parties__button::before, .parties__button::after {
  font-size: 1.375rem;
}
.parties__scrollbar {
  cursor: pointer;
  padding-bottom: 0.625rem;
  height: 0.625rem;
  background: #e59c0a;
}
.parties .swiper-scrollbar-drag {
  height: 0.625rem;
  background: #a0190a;
}

.factions {
  background: rgb(230, 136, 28);
  background: linear-gradient(0deg, rgb(230, 136, 28) 0%, rgb(148, 11, 12) 100%);
  padding-bottom: 3.125rem;
}
.factions__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.factions__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@supports (gap: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem )) {
  .factions__header {
    gap: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem );
  }
}
@supports not (gap: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem )) {
  .factions__header {
    gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 81.875);
  }
}
.factions__faction {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.factions__faction img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
}
@supports (margin-right: clamp( 0.0000000625rem , -0.3053434337rem  +  1.5267174809vw , 1.25rem )) {
  .factions__faction img {
    margin-right: clamp( 0.0000000625rem , -0.3053434337rem  +  1.5267174809vw , 1.25rem );
  }
}
@supports not (margin-right: clamp( 0.0000000625rem , -0.3053434337rem  +  1.5267174809vw , 1.25rem )) {
  .factions__faction img {
    margin-right: calc(0.0000000625rem + 1.2499999375 * (100vw - 20rem) / 81.875);
  }
}
@supports (margin-left: clamp( 0.0000000625rem , -0.5343510673rem  +  2.6717556489vw , 2.1875rem )) {
  .factions__faction img {
    margin-left: clamp( 0.0000000625rem , -0.5343510673rem  +  2.6717556489vw , 2.1875rem );
  }
}
@supports not (margin-left: clamp( 0.0000000625rem , -0.5343510673rem  +  2.6717556489vw , 2.1875rem )) {
  .factions__faction img {
    margin-left: calc(0.0000000625rem + 2.1874999375 * (100vw - 20rem) / 81.875);
  }
}
.factions__faction strong {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rules {
  background-image: url("https://www.jestatharogue.com/wp-content/uploads/2023/01/Dune-Game-Board.jpg?x36035");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.rules__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rules__title {
  position: relative;
  z-index: 1;
  font-size: 2.625rem;
  background-color: #e59c0a;
  padding: 0.625rem 2.1875rem 0.9375rem 2.1875rem;
  border-radius: 0.9375rem;
}
.rules__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@supports (gap: clamp( 1.25rem , 0.7919847328rem  +  2.2900763359vw , 3.125rem )) {
  .rules__content {
    gap: clamp( 1.25rem , 0.7919847328rem  +  2.2900763359vw , 3.125rem );
  }
}
@supports not (gap: clamp( 1.25rem , 0.7919847328rem  +  2.2900763359vw , 3.125rem )) {
  .rules__content {
    gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 81.875);
  }
}
.rules__block {
  height: 100%;
  width: 100%;
  background-color: #e59c0a;
  padding: 1.25rem 1.5625rem 1.25rem 2.8125rem;
  border-radius: 0.9375rem;
}
.rules__block-title {
  font-size: 1.5rem;
  margin-bottom: 0.9375rem;
}
.rules__block-list li {
  width: 100%;
  list-style: disc;
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
  line-height: 1.5625em;
}
.rules__block-list li a {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  font-style: italic;
  text-decoration: underline;
}
.rules__block-list li a:hover {
  color: rgb(6, 69, 173);
}

.modal {
  overflow: scroll;
  position: fixed;
  width: 56.25rem;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 1001;
  border-radius: 0.625rem;
  background-color: rgb(230, 136, 28);
  padding: 0.625rem 0rem 1.25rem 0rem;
}
.modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 0.9375rem;
  margin: 0rem auto 0.9375rem auto;
  padding: 0rem 2% 0.625rem 5%;
  border-bottom: 2px solid #9d0a0d;
}
.modal__title {
  font-size: 2.125rem;
}
.modal__ban {
  text-align: center;
  font-size: 1.75rem;
  padding: 0rem 0.3125rem 0rem 0.3125rem;
}
.modal__button {
  font-size: 4.5rem;
  background-color: transparent;
  line-height: 1.5rem;
  padding: 0.3125rem 0rem 0.3125rem 0.3125rem;
}
.modal__button:hover {
  background-color: transparent;
}
.modal__faction {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal__faction img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  margin: 0rem 0.3125rem 0rem 0.3125rem;
}

.modal-open {
  overflow: hidden;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(148, 11, 12, 0);
  pointer-events: none;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay.active {
  background-color: rgba(148, 11, 12, 0.7);
  pointer-events: all;
}

@media (max-width: 61.99875em) {
  .rating__subtitle {
    font-size: 1.25rem;
  }
  .rules__content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) {
  .rating__subtitle {
    font-size: 0.75rem;
  }
  .factions__faction img {
    width: 1.5625rem;
    height: 1.5625rem;
  }
  .modal__title {
    font-size: 1.75rem;
  }
  .modal__ban {
    font-size: 1.25rem;
  }
  .parties__button {
    display: none;
  }
  .parties__slider-container {
    margin: 0;
  }
  .title {
    font-size: 1.5rem;
  }
  .rules__block-list li {
    font-size: 1rem;
  }
}
@media (max-width: 29.99875em) {
  .home__title {
    font-size: 0.75rem;
    max-width: 18.75rem;
  }
  .rating__tbody tr {
    height: 2.5625rem;
  }
  .factions__faction strong {
    width: 0;
  }
  .modal__faction strong {
    display: none;
  }
  .modal__faction img {
    width: 1.25rem;
    height: 1.25rem;
  }
  .modal__thead tr th {
    font-size: 0.625rem;
  }
  .modal {
    padding: 0.3125rem 0rem 0.3125rem 0rem;
  }
  .modal__header {
    padding-bottom: 0.3125rem;
    margin: 0rem auto 0.3125rem auto;
    padding: 0rem 2% 0.3125rem 5%;
  }
  .modal__title {
    font-size: 1.25rem;
  }
  .modal__ban {
    font-size: 0.875rem;
  }
  .modal__button {
    font-size: 3rem;
    background-color: transparent;
    line-height: 1.5rem;
    padding: 0.3125rem 0rem 0.3125rem 0.3125rem;
  }
}
.contacts {
  height: 4.375rem;
  display: flex;
  align-items: center;
}
.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.625rem;
}
@supports (gap: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem )) {
  .contacts__container {
    gap: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem );
  }
}
@supports not (gap: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem )) {
  .contacts__container {
    gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 81.875);
  }
}
@supports (padding-top: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem )) {
  .contacts__container {
    padding-top: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem );
  }
}
@supports not (padding-top: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem )) {
  .contacts__container {
    padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 81.875);
  }
}
@supports (padding-bottom: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem )) {
  .contacts__container {
    padding-bottom: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem );
  }
}
@supports not (padding-bottom: clamp( 0.625rem , 0.4723282443rem  +  0.7633587786vw , 1.25rem )) {
  .contacts__container {
    padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 81.875);
  }
}
.contacts__list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@supports (gap: clamp( 0.625rem , 0.3959923664rem  +  1.1450381679vw , 1.5625rem )) {
  .contacts__list {
    gap: clamp( 0.625rem , 0.3959923664rem  +  1.1450381679vw , 1.5625rem );
  }
}
@supports not (gap: clamp( 0.625rem , 0.3959923664rem  +  1.1450381679vw , 1.5625rem )) {
  .contacts__list {
    gap: calc(0.625rem + 0.9375 * (100vw - 20rem) / 81.875);
  }
}
.contacts__list li a {
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s linear;
}
.contacts__list a:hover {
  color: rgb(6, 69, 173);
  transform: translateY(-10px);
}
.contacts__list li a ion-icon {
  margin-right: 0.3125rem;
  font-size: 2rem;
}
.contacts__created {
  font-size: 1.125rem;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */